<!-- Footer -->
<div class="container footer">
  <hr class="footer-divider">
  <div class="col-lg-9" style="padding-left: 0;">
    <p>&copy; 2013 Tourbly. <a href="#">About</a> &middot; <a href="#">Terms</a> &middot; <a href="https://plus.google.com/114524818757221632119" rel="publisher">Like us on Google Plus</a></p>
  </div>
  <div class="col-lg-3">
    <!-- AddToAny BEGIN -->
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fgcdc2013-tourbly.appspot.com&amp;linkname=Tourbly"></a>
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_google_plus"></a>
      <a class="a2a_button_email"></a>
      </div>
      <script type="text/javascript">
      var a2a_config = a2a_config || {};
      a2a_config.linkname = "Tourbly";
      a2a_config.linkurl = "http://gcdc2013-tourbly.appspot.com";
      </script>
      <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
  </div>
</div>