<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Tourbly</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navlinks">
        <li><a href="/places" id="places">Destinations</a></li>
        {% if isLoggedIn %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        {% endif %}
        {% if not isLoggedIn %}
          <li><a href="/signup" id="signup">Signup</a></li>
          <li class="active"><a href="/signin" id="signin">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
