/* ... Carousel */
.carousel {
  margin-top: 50px;
  margin-bottom: 10px;
}
.carousel-image {
  max-height: 460px;
}
.carousel-inner .slide-header {
  font-size: 3.3em;
  text-shadow: 0 1px 7px #000;
  font-family: "Libre Baskerville";
}
.carousel-inner .search-slide-caption {
  margin-bottom: 4em;
}
.carousel-inner .cities-slide-caption {
  margin-bottom: 4em;
}
.carousel-inner .search-box {
  border: 0px solid #555;
  width: 100%;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.32);
  box-shadow: 0px 0px 9px #000;
  border-radius: 4px;
}
.carousel-inner .lead {
  margin-bottom: 10px;
  text-shadow: 0 1px 7px #000;
}
.carousel-inner .search-box form .input {
  display: inline-block;
  border-radius: 2px;
}
.carousel-inner .search-box form #destination {
  width: 40.5%;
  font-size: 1.2em;
}
.carousel-inner #arrival,
.carousel-inner #departure {
  width: 20%;
  background-color: #fff;
  font-size: 1.2em;
}
.carousel-inner .search-box form #submit-btn {
  width: 17%;
  margin-left: 4.0px;
  font-size: 1.1em;
  letter-spacing: 0.08em;
}

/* Pad the edges of the mobile views a bit */
.places {
  padding-left: 15px;
  padding-right: 15px;
  border: 0px solid #f00;
}
.places .header,
.quickstarts .header {
  border: 0px solid #bbb;
  padding-left: 1em;
  padding-right: 1em;
}
.places .header .heading,
.quickstarts .quickstart-col .section-header {
  color: #393c3d;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  text-rendering: optimizelegibility;
  margin-bottom: 5px;
  color: #0088cc;
}
.places .header .sub-heading,
.quickstarts .header .sub-heading {
  font-size: 1.3em;
}

.places .body {
  border: 0px solid #bbb;
}

.places .place-img-holder {
  position: relative;
  margin-bottom: 20px;
  padding-left: 1.25%;
  padding-right: 1.25%;
  border: 0px solid #f00;
}
.places .place-img-holder img {
  opacity: 0.9;
}
.places .place-img-holder img:hover {
  opacity: 1.0;
}
.places .place-text-overlay {
  position: absolute;
  bottom: 0;
  right: 3.9%;
  padding: 0.8em;
}
.places .place-text-overlay .caption {
  font-family: "Libre Baskerville";
  color: #fff;
  margin: 0;
  text-shadow: 0 1px 7px #000;
}
.quickstarts .quickstart-col .section-header {
  font-weight: normal;
  font-size: 20px;
}
.quickstarts .quickstart-col .section-text {
  text-align: justify;
  font-size: 1.2em;
}
.quickstarts .quickstart-col .section-text a:link,
.quickstarts .quickstart-col .section-text a:visited {
  color: #5CB85C;
}

/* Responsive Styles */
/* Xtra Small */
@media (max-width: 910px) {
  .carousel-inner .search-box form #destination {
    width: 100%;
  }
  .carousel-inner .search-box form #submit-btn {
    width: 100%;
    margin-left: 0px;
    /*margin-top: 0.5em;*/
  }
}
@media (max-width: 650px) {
  .carousel-inner .search-slide-caption {
    margin-bottom: 0em;
  }
  .carousel-inner .slide-header {
    font-size: 2.3em;
  }
}
@media (max-width: 445px) {
  .find-a-guide {
    display: none;
  }
  .carousel-inner .search-slide-caption {
    margin-bottom: 0.5em;
  }
  .carousel-inner .cities-slide-caption {
    margin-bottom: 0.5em;
  }
  .carousel-inner .slide-header {
    font-size: 1.3em;
  }
}
@media (max-width: 240px) {
  .carousel-inner .slide-header {
    font-size: 1.3em;
  }
  .carousel-inner .search-slide-caption {
    margin-bottom: -1.0em;
  }
  .carousel-inner .cities-slide-caption {
    margin-bottom: -1.0em;
  }
  .carousel-indicators {
    margin-bottom: -0.5em;
  }
}
@media (max-width: 1102px) {
  .carousel-inner .search-box form #destination,
  .carousel-inner .search-box form #submit-btn {
    width: 100%;
  }
  .carousel-inner #arrival,
  .carousel-inner #departure {
    width: 49.5%;
  }
  .carousel-inner .search-box form #submit-btn {
    margin-left: 0;
  }
  .carousel-inner .search-box form #destination,
  .carousel-inner #arrival,
  .carousel-inner #departure {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 601px) {
  .carousel-inner #arrival,
  .carousel-inner #departure {
    width: 49%;
  }
}
@media (max-width: 354px) {
  .carousel-inner .search-box {
    position: relative;
    top: 1.5em;
  }
  .carousel-indicators {
    display: none;
  }
}
@media (max-width: 320px) {
  .carousel-inner #arrival,
  .carousel-inner #departure {
    width: 48.5%;
  }
  .carousel-inner .search-box {
    border: 0px solid #f00;
    position: relative;
    top: 2.5em;
  }
}