.search {
  margin-top: 90px;
  margin-bottom: 10px;
}
.search .filters .header {
  border: 1px solid #ddd;
  padding: 0.8em 1em 1em 1em;
  border-radius: 4px;
  margin-bottom: 1em;
}
.filters .header .header-text {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: #0088cc;
  text-align: center;
}
.filters .date-input,
.filters .gender,
.filters .language {
  padding-left: 15px;
  margin-bottom: 15px;
}
.filters .date-label,
.filters .gender-label,
.filters .language-label {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.filters .date-label label,
.filters .gender-label label,
.filters .language-label label {
  font-family: 'raleway', serif;
  font-size: 1.1em;
  margin-top: 0.2em;
  color: #999;
  font-weight: normal;
}
.filters #destination {
  font-family: raleway, sans-serif;
}

#arrival,
#departure {
  background-color: #fff;
  font-family: raleway, sans-serif;
}


.viewport .header {
  padding: 0.9em 1em 0.8em 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.viewport .header .header-text {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: #777;
}
.viewport .guides {
  margin-top: 1em;
}
.guides .guide {
  text-align: center;
  margin-bottom: 1.5em;
}
.guides .guide .image {
  margin: 0 auto;
}
.guides .guide .name:link,
.guides .guide .name:visited {
  color: #0088cc;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  margin-top: 0.5em;
  display: block;
}
.guide .reviews {
  color: #555;
  font-family: 'Roboto Slab', sans-serif;
}






@media (max-width: 1199px) {
  .filters .header-text {
    text-align: center;
  }
  .filters .date-label,
  .filters .gender-label,
  .filters .language-label {
    width: 98%;
  }
  .datepicker,
  .gender-select,
  .language-select {
    padding-left: 0;
    margin-top: 1em;
  }
  .viewport {
    margin-top: 2em;
  }
  .viewport .header {
    margin-left: 0.15em;
    margin-right: 0.05em;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .filters .date-label,
  .filters .gender-label,
  .filters .language-label {
    width: 97.5%;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .filters .date-label,
  .filters .gender-label,
  .filters .language-label {
    width: 97.0%;
  }
}
@media (min-width: 400px) and (max-width: 499px) {
  .filters .date-label,
  .filters .gender-label,
  .filters .language-label {
    width: 96.3%;
  }
}
@media (min-width: 300px) and (max-width: 399px) {
  .filters .date-label,
  .filters .gender-label,
  .filters .language-label {
    width: 95.5%;
  }
}
@media (max-width: 320px) {
  .filters .date-label,
  .filters .gender-label,
  .filters .language-label {
    width: 94.5%;
  }
}
@media (min-width: 240px) and (max-width: 260px) {
  .filters .date-label,
  .filters .gender-label,
  .filters .language-label {
    width: 92.5%;
  }
}
@media (min-width: 261px) and (max-width: 299px) {
  .filters .date-label,
  .filters .gender-label,
  .filters .language-label {
    width: 93.5%;
  }
}