{% extends "layout.html" %}
{% block title %}Add a Destination{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/default.date.css" rel="stylesheet">
    <link href="/assets/css/default.time.css" rel="stylesheet">
    <link href="/assets/css/default.css" rel="stylesheet">
    <link href="/assets/css/signin.css" rel="stylesheet" media="screen">
    {% endblock %}
{% block content %}
    <div class = "container">
      <p></p><p></p>
      <div>{{success_message}}<div/>
      <div class="row new-review">
        <p style = "color: green;">{{success_message}}<p/>
          <p style = "margin-top:40px;"></p>
        <form method = "post" class="form-signin" enctype="multipart/form-data">
          <p style = "color: red;">{{error}}</p>
          <h2 class="form-heading visible-xs visible-lg visible-sm visible-md">Add a destination.</h2>
          <!-- <span id = "picture"><img width = "100px" height = "100px" src = "/img?tourist_id={{tourist_id}}" / style = "border-radius: 5px"></span> <input id = "profile_pic" type = "file" name = "profile_pic" style = "display : none"> -->
          <p></p>
          <input type="text" class="form-control" placeholder="Destination Name" autofocus name = "destination_name" value = "{{destination_name}}"> <span>{{email_status}}</span>
          <p style = "color: red;">{{destination_name_error}}</p>
          <input id = "destination" type="text" class="form-control" placeholder="Destination name on map" name = "map_name" value = "{{map_name}}">
          <p style = "color: red;">{{map_name_error}}</p>
          <input type="text" class="form-control" placeholder="Destination tag line" name = "tag_line" value = "{{tag_line}}">
          <input id = "picture" type="text" class="form-control" placeholder="Name of destination picture with extension" name = "picture" value = "{{picture}}">
          <p style = "color: red;">{{picture_error}}</p>
          <input type="text" class="form-control" placeholder="Add destination tags separated by commas" name = "tags" value = "{{tags}}">
          <textarea type = "text" class = "form-control" name = "direction" placeholder = "Direction" style = "height: 100px; margin-top: 10px">{{direction}}</textarea>
          <textarea type = "text" class="form-control" name = "description" placeholder="Description about the destination" style = "height: 300px; margin-top: 10px;"> {{description}}</textarea>
          <p style = "color: red;">{{description_error}}</p>
          <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit" name = "signup">Add Destination</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <script src="/assets/js/jquery.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script type="text/javascript" src = "/assets/js/map_scripts.js"></script>
  <script src="/assets/js/picker.js"></script>
  <script src="/assets/js/picker.date.js"></script>
  <script src="/assets/js/picker.time.js"></script>
  <script src="/assets/js/legacy.js"></script>
  <script>
    $(function () {
      init();
      $('#dob').pickadate();
    })
  </script>
  <script>startApp();</script>
{% endblock %}
