{% extends "layout.html" %}
{% block title %}Add a Review{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/default.date.css" rel="stylesheet">
    <link href="/assets/css/default.time.css" rel="stylesheet">
    <link href="/assets/css/default.css" rel="stylesheet">
    <link href="/assets/css/signin.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class = "container">
    <p></p><p></p>
    <div>{{success_message}}</div>
    <div class="col-lg-4 col-md-4 col-sm-4 form">
      <p style = "color: green;">{{success_message}}</p>
        <p style = "margin-top:40px;"></p>
      <form method = "post" class="form-signin" enctype="multipart/form-data">
        <p style = "color: red;">{{error}}</p>
        <h2 class="form-heading visible-xs visible-lg visible-sm visible-md">Add a review.</h2>
        <p></p>
        <p style = "color: red;">{{email_error}}</p>
        <input type="text" class="form-control" placeholder="Reviewer id" name = "reviewer_id" value = "{{reviewer_id}}">
        <p style = "color: red;">{{first_name_error}}</p>
        <input type="text" class="form-control" placeholder="Reviewee id" name = "reviewee_id" value = "{{reviewee_id}}">
        <p style = "color: red;">{{last_name_error}}</p>
        <input type="text" class="form-control" placeholder="Rating (Eg. 2,3,4)" name = "rating" value = "{{country}}">
        <textarea class="form-control" placeholder="Your review here" name = "review" > {{review}}</textarea>
        <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit" name = "signup">Add Review</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script type="text/javascript" src = "/assets/js/map_scripts.js"></script>
  <script src="/assets/js/picker.js"></script>
  <script src="/assets/js/picker.date.js"></script>
  <script src="/assets/js/picker.time.js"></script>
  <script src="/assets/js/legacy.js"></script>
  <script>
    $(function () {
      $('#dob').pickadate();
    })
  </script>
{% endblock %}