<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tourbly - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/css/global.css" rel="stylesheet" media="screen">
    <link href="/assets/css/signin.css" rel="stylesheet" media="screen">
    <link href="/assets/css/default.date.css" rel="stylesheet">
    <link href="/assets/css/default.time.css" rel="stylesheet">
    <link href="/assets/css/default.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,400|Roboto+Slab:400,100|Advent+Pro:400,100|Alegreya|Raleway|Quicksand|PT+Sans+Narrow|Lily+Script+One|Libre+Baskerville" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body onload = "init()">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Tourbly</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right navlinks">
            <li><a href="/places">Destinations</a></li>
            {% if isLoggedIn %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">View Profile</a></li>
                  <li><a href="#">Change Password</a></li>
                  <li><a href="/logout?current_page=profile">Logout</a></li>
                </ul>
              </li>
            {% endif %}
            {% if not isLoggedIn %}
              <li><a href="/signup" id="signup">Signup</a></li>
              <li class="active"><a href="/signin" id="signin">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class = "container">
      <p></p><p></p>
      <div>{{success_message}}<div/>
      <div class="row new-review">
        <p style = "color: green;">{{success_message}}<p/>
          <p style = "margin-top:40px;"></p>
        <form method = "post" class="form-signin" enctype="multipart/form-data">
          <p style = "color: red;">{{error}}</p>
          <h2 class="form-heading visible-xs visible-lg visible-sm visible-md">Add a destination.</h2>
          <!-- <span id = "picture"><img width = "100px" height = "100px" src = "/img?tourist_id={{tourist_id}}" / style = "border-radius: 5px"></span> <input id = "profile_pic" type = "file" name = "profile_pic" style = "display : none"> -->
          <p></p>
          <input type="text" class="form-control" placeholder="Destination Name" autofocus name = "destination_name" value = "{{destination_name}}"> <span>{{email_status}}</span>
          <p style = "color: red;">{{destination_name_error}}</p>
          <input type="text" class="form-control" placeholder="Destination name on map" name = "map_name" value = "{{map_name}}">
          <p style = "color: red;">{{map_name_error}}</p>
          <input type="text" class="form-control" placeholder="Destination tag line" name = "tag_line" value = "{{tag_line}}">
          <input id = "picture" type="text" class="form-control" placeholder="Name of destination picture with extension" name = "picture" value = "{{picture}}">
          <p style = "color: red;">{{picture_error}}</p>
          <input type="text" class="form-control" placeholder="Add destination tags separated by commas" name = "tags" value = "{{tags}}">
          <textarea type = "text" class = "form-control" name = "direction" placeholder = "Direction" style = "height: 100px; margin-top: 10px">{{direction}}</textarea>
          <textarea type = "text" class="form-control" name = "description" placeholder="Description about the destination" style = "height: 300px; margin-top: 10px;"> {{description}}</textarea>
          <p style = "color: red;">{{description_error}}</p>
          <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit" name = "signup">Add Destination</button>
        </form>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src = "/assets/js/map_scripts.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
    <script src="/assets/js/picker.js"></script>
    <script src="/assets/js/picker.date.js"></script>
    <script src="/assets/js/picker.time.js"></script>
    <script src="/assets/js/legacy.js"></script>
    <script>
      $(function () {
        $('#dob').pickadate();
      })
    </script>
  </body>
</html>
