{% extends "layout.html" %}
{% block title %}Order Confirmation{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/bookings.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class="container bookings">
    <div class="row header">
      <div class="col-lg-12">
        <h2 class="main-text">My Bookings</h2>
      </div>
    </div>
    <div class="row info">
      <div class="alert alert-info profile-alert fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Current</strong> bookings are shown highlighted in <span style="color: #5cb85c; font-weight: bold;">Green</span>. <strong>Expired</strong> are not highlighted
      </div>
    </div>
    <div class="row body">
      <div class="col-lg-12">
        <div class="table-responsive">
          {% if tourist.tourist_booking_set.count() != 0 %}
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Final Booking Number</th>
                  <th>BookingDate</th>
                  <th>Description</th>
                  <th>Guide</th>
                  <th>Cost</th>
                  <th>Payment Status</th>
                </tr>
              </thead>
              <tbody>
                {% for booking in tourist.tourist_booking_set %}
                  {% set currentDate = datetime.datetime.now() %}
                  {% if booking._tour_end < currentDate %}
                    <tr>
                  {% else %}
                    <tr class="success">
                  {% endif %}
                    <td>{{booking._booking_number}}</td>
                    <td>{{booking._booked_at.strftime("%m %d, %YYYY")}}</td>
                    <td>{{booking._description}}</td>
                    <td>{{booking._guide._firstname}} {{booking._guide._lastname}}</td>
                    <td>{{booking._price}}</td>
                    <td>{{booking._payment_status}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            You currently have no completed bookings
          {% endif
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <script type="text/javascript">
  </script>
{% endblock %}