{% extends "layout.html" %}
{% block title %}{{guide._firstname}}'s Profile{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/guide.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class="container guide">
    <div class="row">
      <div class="col-lg-3 personal">
        <div class="row id">
          <div class="col-log-12">
            <img id="guide-picture" class="img-responsive" src="/assets/images/guides_pics/{{guide._picture}}" width="300">
            <div class="meta">
              <h3 class="name">{{guide._firstname}} {{guide._lastname}} <i class="fa fa-check-square-o verified-icon"></i></h3>
              <p class="city">Lives in {{guide._lives_in}}</p>
              <p class="term">Member, since {{guide._created_at.strftime("%B %Y")}}</p>
              <p class="status"><span style="font-weight: bold;">Status</span> <span class="label label-primary">
                {% if guide._isAvailable %}
                    Available
                {% endif %}

                {% if not guide._isAvailable %}
                    Not Available
                {% endif %}
              </span></p>
            </div>
            <div class="book">
              <a id="bookGuide" href="/guides/{{guide.key().id()}}/{{place_id}}/book" class="btn btn-success btn-block btn-lg">Book {{guide._firstname}}</a>
            </div>
            <div class="hangout">
              <a id="hangout" href="#" class="btn btn-warning btn-block btn-lg">Hangout</a>
            </div>
          </div>
        </div>
        <div class="row stats">
          <div class="col-lg-12 wrapper">
            <div class="header">
              <h3 class="heading">Summary Stats</h3>
            </div>
            <div class="body">
              <div class="stat">
                <i class="fa fa-thumb-tack"></i>
                {% if guide._times_booked == None %}
                 No Bookings Yet
                 {% endif %}
                 {% if guide._times_booked == "1" %}
                  Booked Once
                  {% endif %}
                  {% if guide._times_booked > "1" %}
                   Booked {{guide._times_booked}} Times
                   {% endif %}
              </div>
              <div class="stat">
                <i class="fa fa-smile-o"></i> 
                {% if guide.reviews_set.count() == 0 %}
                  No Reviews
                {% endif %}
                {% if guide.reviews_set.count() == 1 %} 
                  1 Total Review
                {% endif %}
                {% if guide.reviews_set.count() >1 %}
                 {{guide.reviews_set.count()}} Total Reviews
                {% endif %}
              </div>
              <div class="stat">
                Speaks
                {% for language in guide._languages %}
                  {{language}} 
                  {% if not loop.last %}
                    &amp;
                  {% endif %}
                {%  endfor %}
              </div>
              <div class="stat">
                From {{guide._country}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 other">
        <div class="row bio">
          <div class="col-lg-12">
            <div class="header">
              <h4 class="header-text">Hello, I'm {{guide._firstname}} :)</h4>
            </div>
            <div class="body">
              <p class="body-text">{{guide._elevator_pitch}} </p>
            </div>
          </div>
        </div>
        <div class="row reviews">
          <div class="col-lg-12">
            <div class="header">
              <h3 class="header-text">
                {% if guide.reviews_set.count() == 0 %}
                  No Reviews Yet
                {% elif guide.reviews_set.count() == 1 %}
                  1 Review
                {% else %}
                  {{guide.reviews_set.count()}} Reviews
                {% endif %}
                <i class="fa fa-thumbs-o-up blue-icon"></i>
              </h3>
            </div>
            <div class="body">
              {% for review in guide.reviews_set|sort(attribute = "_created_at", reverse = true) %}
                <div class="review">
                  <div class="head">
                    <h3 class="reviewer">{{review._reviewer.first_name}} {{review._reviewer.last_name}}</h3>
                    {% set rating = review._rating %}
                    <!-- Show Star Rating Average -->
                    {% for n in range(1, 6) %}
                      {% if n <= rating %}
                        <i class='glyphicon glyphicon-star rating-star'></i>
                      {% else %}
                        <i class='glyphicon glyphicon-star-empty rating-star'></i>
                      {% endif %}
                    {% endfor %}
                    <span class="review-date"><i class="fa fa-clock-o"></i> <span class="ago">{{review._created_at.strftime("%Y-%m-%d %H:%M:%S")}}</span></span>
                  </div>
                <div class="body">
                  <p>{{review._comment | nl2br | safe}}</p>
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
        {% if tourist %}
          <div class="row new-review">
            <div class="col-lg-12">
              <form method = "post" action = "/guides/{{guide.key().id()}}" class="form-signin">
                <h2 class="form-heading visible-xs visible-lg visible-sm visible-md" style="font-size: 25px;">Write a review</h2>
                <p style = "color: red;">{{error}}</p>
                {% if not tourist.first_name %}
                  <p style = "color: red;">{{name_error}}</p>
                  <input style="margin-bottom: 0.7em;" type="text" class="form-control" placeholder="Your Name" autofocus name = "name" id="name" value = "{{name}}">
                {% endif %}
                <input style="" type="number" name="rating" id="rating" class="rating" data-max="5" data-min="1" />
                <p style = "color: red;">{{comments_error}}</p>
                <textarea type="text" class="form-control" placeholder="Your comments here" name = "comment" id="comment" style = "height:114px; margin-bottom: 2.05em;">{{comments}}</textarea>            
                <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit" name = "signup">Review</button>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="modal fade" id="authRequired">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" style="color: #0088cc;">Authentication Required</h4>
        </div>
        <div class="modal-body">
          <p>Hello Guest! You must be signed in in order to book a tour guide. Click continue below, to create a new account or login with an existing account.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a href="/signin" type="button" class="btn btn-primary">Continue</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}
{% block pagespecificjs %}
  <script src="/assets/js/bootstrap-rating-input.js"></script>
  <script src="/assets/js/moment.min.js"></script>
  <script src="/assets/js/jquery.cookie.js"></script>
  <script src="/assets/js/guide.js"></script>
  <script>
    $(function () {
      init();
    })
  </script>
{% endblock %}
