{% extends "layout.html" %}
{% block title %}Add a Review{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/guide_signup_form.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class="container guide-signup-form">
    <div class="row header">
      <h1 class="header-text">Want to host Tourbly guests? Get started.</h1>
    </div>
    <div class="row body">
      <form role="form" name="new-guide-signup-form" method="POST" action="">
        <p class="lead error-label">{{error}}</p>
        <div class="form-group">
          <input type="text" class="form-control input" id="full-name" name="full_name" placeholder="Your Full Name" value = "{{full_name}}">
        </div>
        <select name = "country" style = "margin-bottom : 15px;">
          <option value = "">Select Country</option>
          {% for country in countries %}
            <option value = "{{country}}" {% if country == guide_details["country"] %} selected {% endif %}>
              {{country}}
            </option>
          {% endfor %}
        </select>
        <div class="form-group">
          <input type="email" class="form-control input" id="email"  name="email" placeholder="Your Email Address" value = "{{email}}">
          <p class="lead error-label">{{email_error}}</p>
          <span class="help-block">We will send a verification link to this email address with further instructions.</span>
        </div>
        <button type="submit" class="btn btn-info btn-block btn-lg">Get Started</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <script>
  </script>
{% endblock %}