{% extends "layout.html" %}
{% block title %}{{guide._firstname}}'s Profile{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/guide.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class="container guide">
    <div class="row">
      <div class="col-lg-3 personal">
        <div class="row id">
          <div class="col-log-12">
            <img id="guide-picture" class="img-responsive" src="/assets/images/guides_pics/{{guide._picture}}" width="300">
            <div class="meta">
              <h3 class="name">{{guide._firstname}} &nbsp;<i class="fa fa-check-square-o verified-icon"></i></h3>
              <p class="city">Lives in {{guide._lives_in}}</p>
              <p class="term">Member, since {{guide._created_at.strftime("%B %Y")}}</p>
              <p class="status"><span style="font-weight: bold;">Status</span> <span class="label label-primary">

                    Available

              </span></p>
            </div>
            <div class="book">
              <a id="bookGuide" href="#" class="btn btn-success btn-block btn-lg">Book {{guide._firstname}}</a>
            </div>
          </div>
        </div>
        <div class="row stats">
          <div class="col-lg-12 wrapper">
            <div class="header">
              <h3 class="heading">Summary Stats</h3>
            </div>
            <div class="body">
              <div class="stat">
                <i class="fa fa-thumb-tack"></i>
                {% if guide._times_booked == None %}
                 Booked 9 times
                 {% endif %}
                 {% if guide._times_booked == "1" %}
                  Booked Once
                  {% endif %}
                  {% if guide._times_booked > "1" %}
                   Booked {{guide._times_booked}} Times
                   {% endif %}
              </div>
              <div class="stat">
                <i class="fa fa-smile-o"></i> 
                {% if guide.reviews_set.count() == 0 %}
                  No Reviews
                {% endif %}
                {% if guide.reviews_set.count() == 1 %} 
                  1 Total Review
                {% endif %}
                {% if guide.reviews_set.count() >1 %}
                 {{guide.reviews_set.count()}} Total Reviews
                {% endif %}
              </div>
              <div class="stat">
                Speaks
                 {% for language in guide._languages %}
                  {% if language != "" %}
                    {{language}} &amp;
                  {% endif %}
                {%  endfor %}

                </div>
                <div class="stat">
                  From {{guide._country}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 other">
        <div class="row bio">
          <div class="col-lg-12">
            <div class="header">
              <h4 class="header-text">Hello, I'm {{guide._firstname}} :)</h4>
            </div>
            <div class="body">
              <p class="body-text">{{guide._elevator_pitch}} </p>
            </div>
          </div>
        </div>
        <div class="row reviews">
          <div class="col-lg-12">
            <div class="header">
              <h3 class="header-text">
                {% if guide.reviews_set.count() == 0 %}
                No Reviews
                {% endif %}
                {% if guide.reviews_set.count() == 1 %}
                1 Review
                {% endif %}
                {% if guide.reviews_set.count() > 1 %}
                {{guide.reviews_set.count()}} Reviews
                {% endif %} 
                <i class="fa fa-thumbs-o-up blue-icon"></i>
              </h3>
            </div>
            <div class="body">
              {% for review in guide.reviews_set|sort(attribute = "_created_at", reverse = true) %}
                <div class="review">
                  <div class="head">
                    <h3 class="reviewer">{{review._reviewer.first_name}} {{review._reviewer.last_name}}</h3><span class="review-date"><i class="fa fa-clock-o"></i> {{review._created_at.strftime("%b %d, %y.")}}</span>
                  </div>
                <div class="body">
                  <p>{{review._comment | nl2br | safe}}</p>
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
        {% if tourist %}
          <div class="row new-review">
            <div class="col-lg-12">
              <form method = "post" action = "/guides/{{guide.key().id()}}" class="form-signin">
                <h2 class="form-heading visible-xs visible-lg visible-sm visible-md" style="font-family: 'Roboto Slab'; margin-left: 0.9em; font-size: 25px; font-weight: bold; color: #3C97B4;">Leave a review</h2>
                <p style = "color: red;">{{error}}</p>
                {% if not tourist.first_name %}
                  <p style = "color: red;">{{name_error}}</p>
                  <input type="text" class="form-control" placeholder="Your Name" autofocus name = "name" value = "{{name}}">
                {% endif %}
                <p style = "color: red;">{{comments_error}}</p>
                <textarea type="text" class="form-control" placeholder="Your comments here" name = "comment" style = "height:114px; margin-bottom: 2.05em;">{{comments}}</textarea>            
                <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit" name = "signup">Review</button>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <script>
  </script>
{% endblock %}
