<!DOCTYPE html>
<html lang="en" ng-app="tourbly">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Find reliable tour guides">
      <title>Tourbly - {% block title %}{% endblock %}</title>

      <!-- Global Styles -->
      <link href="/assets/css/bootstrap.css" rel="stylesheet">
      <link href="/assets/css/font-awesome.css" rel="stylesheet">
      <link href="/assets/css/global.css" rel="stylesheet" media="screen">

      <!-- Fonts -->
      <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,400|Roboto+Slab:400,100|Advent+Pro:400,100|Alegreya|Raleway|Quicksand|PT+Sans+Narrow|Lily+Script+One|Libre+Baskerville" rel="stylesheet" type="text/css">

      <!-- Cannonical Page URL -->
      {% block cannonical %}{% endblock %}

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    {% endblock %}
  </head>
  <body ng-controller="TourblyCtrl">
    {% include 'partials/navigation.html' %}
    {% block content %}{% endblock %}
    {% include 'partials/footer.html' %}
    {% include 'partials/globaljs.html' %}
    {% block pagespecificjs %}{% endblock %}
  </body>
</html>
