{% extends "layout.html" %}
{% block title %}Amazing Destinations{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/places.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class="container-fluid places-intro-banner">
    <div class="banner-caption">
      <h1 class="caption-header">Discover amazing cities.</h1>
      <div class="search-box">
        <form role="form" method = "post" action = "/places">
          <input type="text" class="form-control input" id="destination" name="keyword" placeholder="Enter a keyword to find interesting destinations..." value = "{{keyword}}">
          <button type="submit" class="btn btn-success" id="submit-btn">Go</button>
        </form>
      </div>
    </div>
  </div>

    <!-- Tourbly Places Gallery -->
    <div class="container places">
      <div class="row header">
        <h2 class="heading">Tourbly Places</h2>
        {% if not keyword %}
          {% if places.count() != 0  %}
            <p class="lead sub-heading">Showing Results for Destinations.</p>
          {% endif %}
          {% if places.count() == 0 %}
            <p class="lead sub-heading">There are currently no destinations.</p>
          {% endif %}
        {% endif %}

        {% if keyword %}
          {% if places.count() != 0  %}
            <p class="lead sub-heading">Showing Results for keyword {{keyword}}.</p>
          {% endif %}
          {% if places.count() == 0 %}
            <p class="lead sub-heading">No destination found for keyword</p>
          {% endif %}
        {% endif %}
      </div>
      <div class="row body">

        {% for place in places %}
          <a href="/places/{{place.key().id()}}"><div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 place-img-holder">
            <img class="img-rounded img-responsive" src= "/assets/images/places_pics/rsz_{{place.pictures[0]}}" data-src="" alt="">
            <div class="place-text-overlay">
              <h3 class="caption">{{place.name}}</h3>
            </div>
          </a></div>
          {% endfor %}
      </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container paging">
      <div class="row">
        <div class="col-lg-12">
          <ul class="pager">
            {% if places.count() > 9 %}
              <li class="previous"><a href="#">&larr; Go Back</a></li>
              <li class="next"><a href="#">Show Me More &rarr;</a></li>
              {% endif %}
          </ul>
      </div>
    </div>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <script></script>
{% endblock %}
