{% extends "layout.html" %}
{% block title %}Profile...{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/profile.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class="container profile-wrapper">
    <div class="row header">
      <div class="col-lg-12">
        <h2 class="main-text">Profile</h2>
        <p class="lead sub-text">This information appears on your public profile, search results, and beyond.</p>
      </div>
    </div>
    <div class="row info">
      <div class="alert alert-info profile-alert fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>New!</strong> Now edit your <strong>photos</strong> and bio right from your profile.
      </div>
    </div>
    <form method = "POST" action = "/profile" enctype="multipart/form-data">
      <div class="row photo">
        <div class="col-lg-1 profile-picture-holder" style="">
          <img class="profile-picture" src="{{profilepic}}" alt="Profile Picture" />
        </div>
        <div class="col-lg-11">
          <!-- Change Photo button -->
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              Change Photo &nbsp; <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li style="display: none;"><a href="#"><input type="file" name="photo" class="file-input" id="picture-select"></a></li>
              <li><a href="#" id="pseudo-picture-select">Upload Photo</a></li>
            </ul>
          </div>
          <p class="photo-help-text">This photo is your identity on Tourbly.</p>
        </div>
      </div>

      {% if googleAccount %}
      <div class="row google-account">
        <div class="col-lg-12">
          <h3 class="main-text">Google Sign-In</h3>
          <a class="btn btn-danger btn-block" ng-click="disconnect()">Disconnect my Google Account</a>
          <span class="help-block">By clicking this button, you are disassociating your Google account from Tourbly.</span>
        </div>
      </div>
      {% endif %}

      <div class="row personal">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" autofocus name = "first_name" value = "{{first_name}}" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" name = "last_name" value = "{{last_name}}" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="">Country</label>
            <input type="text" class="form-control" placeholder="Country" name = "country" value = "{{country}}" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="">State</label>
            <input type="text" class="form-control" placeholder="State" name = "state" value = "{{state}}" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="">Your Email address</label>
            <input type="email" class="form-control" placeholder="Email Address" name = "email" value = "{{email}}" />
          </div>
        </div>
      </div>
      <div class="row update">
        <div class="col-lg-12">
          <button id="submit-btn" class="btn btn-warning btn-block" type="submit" name = "update-profile">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <script src="/assets/js/profile.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#pseudo-picture-select').on('click', pseudoPhotoSelectClickListener);
      $('#picture-select').on('click', actualPhotoSelectClickListener);
    });
  </script>
{% endblock %}

