{% extends "layout.html" %}
{% block title %}Profile...{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/signin.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class = "container">
    <p></p><p></p>
    <div>{{success_message}}</div>
    <div class="col-lg-4 col-md-4 col-sm-4 form">
      <p>{{success_message}}</p>
      <form method = "post" action = "/profile" class="form-signin" enctype="multipart/form-data">
        <p style = "color: red;">{{error}}</p>
        <h2 class="form-heading visible-xs hidden-lg hidden-sm hidden-md">Find great tour guides.</h2>
        <span id = "picture"><img width = "100px" height = "100px" src = {{ profilepic}} / style = "border-radius: 5px"></span> <input id = "profile_pic" type = "file" name = "profile_pic" style = "display : none">
        <p></p>
        <input type="text" class="form-control" placeholder="Your Email" autofocus name = "email" value = "{{email}}"> <span>{{email_status}}</span>
        <p style = "color: red;">{{email_error}}</p>
        <input type="text" class="form-control" placeholder="Your First Name" name = "first_name" value = "{{first_name}}">
        <p style = "color: red;">{{first_name_error}}</p>
        <input type="text" class="form-control" placeholder="Your Last Name" name = "last_name" value = "{{last_name}}">
        <p style = "color: red;">{{last_name_error}}</p>
        <input type="text" class="form-control" placeholder="Where Are You From?" name = "country" value = "{{country}}">
        <p style = "color: red;">{{country_error}}</p>
        <input type="text" class="form-control" placeholder="Your State" name = "state" value = "{{state}}">
        <p style = "color: red;">{{state_error}}</p>
        <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit" name = "signup">Save Changes</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <script type="text/javascript">
    var clicker = document.getElementById("picture")
    clicker.onclick = clickButton;

    function clickButton() {
      var fileButton = document.getElementById("profile_pic");
      fileButton.click();
    }
  </script>
{% endblock %}

