{% extends "layout.html" %}
{% block title %}Find a tour guide{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/selectize.css" />
    <link href="/assets/css/default.css" rel="stylesheet">
    <link href="/assets/css/default.date.css" rel="stylesheet">
    <link href="/assets/css/default.time.css" rel="stylesheet">
    <link href="/assets/css/search.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div class="container search">
    <div class="col-lg-3 filters">
      <div class="header">
        <h3 class="header-text">Find a Tour Guide</h3>
      </div>
      <form name="filter-form" id="filter-form" role="form" method = "post" action = "/search">
        <div class="form-group">
          <!-- <input type="text" name = "destination" class="form-control" id="destination" placeholder="Where are you headed?" value = "{{search_args['destination']}}"> -->
          <div class="control-group" id="destination" onclick = "search()">
            <select name="destination" id="select-beast" class="demo-default" placeholder="Select a person...">
              <option value="">Choose your destination</option>
              {% for place in all_places %}
                <option onclick = "search()" value="{{place.key().id()}}"
                  {% if search_args["destination"] %}
                    {% if search_args["destination"].key().id() == place.key().id() %}
                      selected
                    {% endif %}
                  {% endif %}
                >{{place.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row date-input">
          <div class="col-lg-4 date-label">
            <label for="" class="visible-lg hidden-md hidden-sm hidden-xs">Arriving</label>
            <label for="" class="visible-xs visible-md visible-sm hidden-lg">When are you arriving?</label>
          </div>
          <div class="col-lg-8 datepicker">
            <input id="arrival" name="arrival" class="form-control input" type="text" placeholder="Pick Date of Arrival" value="{{search_args['arrival_date']}}">
          </div>
        </div>
        <div class="row date-input">
          <div class="col-lg-4 date-label">
            <label for="" class="visible-lg hidden-md hidden-sm hidden-xs">Leaving</label>
            <label for="" class="visible-xs visible-md visible-sm hidden-lg">When are you leaving?</label>
          </div>
          <div class="col-lg-8 datepicker">
            <input id="departure" name="departure" class="form-control input" type="text" placeholder="Pick Date of Departure" value="{{search_args['departure_date']}}">
          </div>
        </div>
        <div class="row gender">
          <div class="col-lg-4 gender-label">
            <!-- <label for="">Gender</label> -->
            <label for="" class="visible-lg hidden-md hidden-sm hidden-xs">Gender</label>
            <label for="" class="visible-xs visible-md visible-sm hidden-lg">Select your preferred gender</label>
          </div>
          <div class="col-lg-8 gender-select">
            <select id = "gender" name="gender" class="form-control" >
              <option value="Any"
              {% if search_args["gender"] == "Any" %}
                selected
              {% endif %} >Any</option>
              <option value="Female"
              {% if search_args["gender"] == "Female" %}
                selected
              {% endif %} >Female</option>
              <option value="Male"
              {% if search_args["gender"] == "Male" %}
                selected
              {% endif %} >Male</option>
            </select>
          </div>
        </div>
        <div class="row language">
          <div class="col-lg-4 language-label">
            <!-- <label for="">Language</label> -->
            <label for="" class="visible-lg hidden-md hidden-sm hidden-xs">Language</label>
            <label for="" class="visible-xs visible-md visible-sm hidden-lg">Select your preferred language</label>
          </div>
          <div class="col-lg-8 language-select">
            <select id = "languages" name="language" class="form-control">
              <option value ="Any">Any</option>
              {% for language in all_languages %}
                <option value = {{language}}
                  {% if search_args["language"] == language %}
                    selected
                  {% endif %} >
                  {{language}}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button id = "filter" class="input btn btn-success btn-block btn-lg" type = "submit" name = "filter">Search</button>
      </form>
    </div>
    <div class="col-lg-9 viewport">
      <div class="row header">
        <h3 class="header-text">
          {% if suggested_guides is not none and suggested_guides.count() > 0 %}
            Showing available tour guides
          {% endif %}

          {% if not search_args['destination'] and not search_args['arrival_date'] and not search_args['departure_date'] and search_args["gender"] == "Any" and search_args["language"] == "Any" %}
            Choose your preferences to browse available tour guides.
          {% endif %}

          {% if suggested_guides is not none and suggested_guides.count() == 0 %}
            Choose your preferences to browse available tour guides.
          {% endif %}
        </h3>
      </div>
      <div class="row body guides">
        {% if suggested_guides is not none %}
          {% for suggested_guide in suggested_guides %}
            <div class="col-lg-3 guide">
              <a href="/guides/{{suggested_guide.key().id()}}/{{search_args['destination'].key().id()}}"><img src="/assets/images/guides_pics/{{suggested_guide._picture}}" width="105" class="image img-rounded img-responsive"></a>
              <a href="/guides/{{suggested_guide.key().id()}}/{{search_args['destination'].key().id()}}" class="name">{{suggested_guide._firstname}}</a>
              <span class="reviews">
                {% set totalReviews = suggested_guide.reviews_set.count() %}
                
                <!-- calling global env method to get average rating and total raters -->
                {% set ratingArgs = getAverageRating(suggested_guide.reviews_set) %}
                {% set averageRating = ratingArgs["averageRating"] %}
                {% set totalRaters = ratingArgs["totalRaters"] %}
                <!-- Show Number of Reviews -->
                {% if totalReviews == 0 %}
                  No Reviews
                {% endif %}
                {% if totalReviews == 1 %} 
                  1 Review
                {% endif %}
                {% if totalReviews >1 %}
                 {{totalReviews}} Reviews
                {% endif %} <br />
                
                {% if totalRaters != 0 %}
                  <!-- Show Star Rating Average -->
                  {% for n in range(1, 6) %}
                    {% if n <= averageRating %}
                      <i class='rating-star glyphicon glyphicon-star'></i>
                    {% else %}
                      <i class='rating-star glyphicon glyphicon-star-empty'></i>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% for n in range(1, 6) %}
                    <i class='rating-star glyphicon glyphicon-star-empty'></i>
                  {% endfor %}
                {% endif %}
              </span>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block pagespecificjs %}
  <!-- // <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script> -->
  <!-- // <script type="text/javascript" src = "/assets/js/map_scripts.js"></script> -->
  <script src="/assets/js/selectize.js"></script>
  <script src="/assets/js/picker.js"></script>
  <script src="/assets/js/picker.date.js"></script>
  <script src="/assets/js/picker.time.js"></script>
  <script src="/assets/js/legacy.js"></script>
  <script src="/assets/js/search.js"></script>
  <script src="/assets/js/bootstrap-rating-input.js"></script>
  <script>
    $(function () {
      $('#arrival').pickadate();
      $('#departure').pickadate();
      attachFilterButtonListener();
      searchSelectedListeners();
      $('#select-beast').selectize({
        sortField: {
          field: 'text',
          direction: 'asc'
        },
        dropdownParent: 'body'
      });
      // init();
    })
  </script>
  <script type="text/javascript">
    function search() {
      console.log("clicked option");
    }
  </script>
{% endblock %}