
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tourbly - Reliable tour guides to your favorite destinations</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/default.css" rel="stylesheet">
    <link href="/assets/css/default.date.css" rel="stylesheet">
    <link href="/assets/css/default.time.css" rel="stylesheet">
    <link href="/assets/css/global.css" rel="stylesheet" media="screen">
    <link href="/assets/css/search.css" rel="stylesheet" media="screen">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,400|Roboto+Slab:400,100|Advent+Pro:400,100|Alegreya|Raleway|Quicksand|PT+Sans+Narrow|Lily+Script+One|Libre+Baskerville|Exo" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body onload = "init()">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Tourbly</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right navlinks">
            <li><a href="/places" id="places">Destinations</a></li>
            {% if isLoggedIn %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{tourist.email}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">View Profile</a></li>
                  <li><a href="#">Change Password</a></li>
                  <li><a href="/logout?current_page=home">Logout</a></li>
                </ul>
              </li>
            {% endif %}
            {% if not isLoggedIn %}
              <li><a href="/signup" id="signup">Signup</a></li>
              <li class="active"><a href="/signin" id="signin">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container search">
      <div class="col-lg-3 filters">
        <div class="header">
          <h3 class="header-text">Refine your search</h3>
        </div>
        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="destination" placeholder="Where are you headed?" value = "{{search_args['destination']}}">
          </div>
          <div class="row date-input">
            <div class="col-lg-4 date-label">
              <label for="">Arriving</label>
            </div>
            <div class="col-lg-8 datepicker">
              <input id="arrival" name="arrival" class="form-control input" type="text" placeholder="Date of Arrival" value="{{search_args['arrival_date']}}">
            </div>
          </div>
          <div class="row date-input">
            <div class="col-lg-4 date-label">
              <label for="">Leaving</label>
            </div>
            <div class="col-lg-8 datepicker">
              <input id="departure" name="departure" class="form-control input" type="text" placeholder="Date of Departure" value="{{search_args['departure_date']}}">
            </div>
          </div>
          <div class="row gender">
            <div class="col-lg-4 gender-label">
              <label for="">Gender</label>
            </div>
            <div class="col-lg-8 gender-select">
              <select name="gender" class="form-control">
                <option value="All">All</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
            </div>
          </div>
          <div class="row language">
            <div class="col-lg-4 language-label">
              <label for="">Language</label>
            </div>
            <div class="col-lg-8 language-select">
              <select name="language" multiple class="form-control">
                <option value="Afrikaans">Afrikaans</option>
                <option value="Albanian">Albanian</option>
                <option value="Arabic">Arabic</option>
                <option value="Armenian">Armenian</option>
                <option value="Basque">Basque</option>
                <option value="Bengali">Bengali</option>
                <option value="Bulgarian">Bulgarian</option>
                <option value="Catalan">Catalan</option>
                <option value="Cambodian">Cambodian</option>
                <option value="Chinese">Chinese (Mandarin)</option>
                <option value="Croatian">Croatian</option>
                <option value="Czech">Czech</option>
                <option value="Danish">Danish</option>
                <option value="Dutch">Dutch</option>
                <option value="English">English</option>
                <option value="Estonian">Estonian</option>
                <option value="Fiji">Fiji</option>
                <option value="Finnish">Finnish</option>
                <option value="French">French</option>
                <option value="Georgian">Georgian</option>
                <option value="German">German</option>
                <option value="Greek">Greek</option>
                <option value="Gujarati">Gujarati</option>
                <option value="Hebrew">Hebrew</option>
                <option value="Hindi">Hindi</option>
                <option value="Hungarian">Hungarian</option>
                <option value="Icelandic">Icelandic</option>
                <option value="Indonesian">Indonesian</option>
                <option value="Irish">Irish</option>
                <option value="Italian">Italian</option>
                <option value="Japanese">Japanese</option>
                <option value="Javanese">Javanese</option>
                <option value="Korean">Korean</option>
                <option value="Latin">Latin</option>
                <option value="Latvian">Latvian</option>
                <option value="Lithuanian">Lithuanian</option>
                <option value="Macedonian">Macedonian</option>
                <option value="Malay">Malay</option>
                <option value="Malayalam">Malayalam</option>
                <option value="Maltese">Maltese</option>
                <option value="Maori">Maori</option>
                <option value="Marathi">Marathi</option>
                <option value="Mongolian">Mongolian</option>
                <option value="Nepali">Nepali</option>
                <option value="Norwegian">Norwegian</option>
                <option value="Persian">Persian</option>
                <option value="Polish">Polish</option>
                <option value="Portuguese">Portuguese</option>
                <option value="Punjabi">Punjabi</option>
                <option value="Quechua">Quechua</option>
                <option value="Romanian">Romanian</option>
                <option value="Russian">Russian</option>
                <option value="Samoan">Samoan</option>
                <option value="Serbian">Serbian</option>
                <option value="Slovak">Slovak</option>
                <option value="Slovenian">Slovenian</option>
                <option value="Spanish">Spanish</option>
                <option value="Swahili">Swahili</option>
                <option value="Swedish">Swedish </option>
                <option value="Tamil">Tamil</option>
                <option value="Tatar">Tatar</option>
                <option value="Telugu">Telugu</option>
                <option value="Thai">Thai</option>
                <option value="Tibetan">Tibetan</option>
                <option value="Tonga">Tonga</option>
                <option value="Turkish">Turkish</option>
                <option value="Ukrainian">Ukrainian</option>
                <option value="Urdu">Urdu</option>
                <option value="Uzbek">Uzbek</option>
                <option value="Vietnamese">Vietnamese</option>
                <option value="Welsh">Welsh</option>
                <option value="Xhosa">Xhosa</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-9 viewport">
        <div class="row header">
          <h3 class="header-text">
            {% if suggested_guides is not none and suggested_guides.count() > 0 %}
              Showing available tour guides for provided options
            {% endif %}

            {% if suggested_guides is not none and suggested_guides.count() == 0 %}
              Sorry, no tour guides match your search. Select more options from the left to see available tour guides
            {% endif %}

            {% if not search_args['destination'] and not search_args['arrival_date'] and not search_args['departure_date'] %}
              Many tour guides are happily waiting to help you. Just select your options from the left panel to find them.
            {% endif %}
          </h3>
        </div>
        <div class="row body guides">
          {% if suggested_guides is not none %}
            {% for suggested_guide in suggested_guides %}
              <div class="col-lg-3 guide">
                <a href="/guides/{{suggested_guide.key().id()}}"><img src="/assets/images/guides_pics/{{suggested_guide._picture}}" width="105" class="image img-rounded img-responsive"></a>
                <a href="/guides/{{suggested_guide.key().id()}}" class="name">{{suggested_guide._firstname}}</a>
                <span class="reviews">23 Reviews</span>
              </div>
            {% endfor %}
          {% endif %}
          <!-- <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/dave.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">David</a>
            <span class="reviews">23 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/sonia.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Sonia</a>
            <span class="reviews">12 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/nick.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Nicolas</a>
            <spa class="reviews"n>7 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/andre.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Andre</a>
            <span class="reviews">17 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/rach.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Rachel</a>
            <span class="reviews">23 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/sarah.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Sarah</a>
            <span class="reviews">12 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/paige.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Paige</a>
            <spa class="reviews"n>7 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/tuesday.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Tuesday</a>
            <span class="reviews">17 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/jena.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Jena</a>
            <span class="reviews">23 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/sayla.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Sayla</a>
            <span class="reviews">12 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/amber.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Amber</a>
            <spa class="reviews"n>7 Reviews</span>
          </div>
          <div class="col-lg-3 guide">
            <a href="#"><img src="/assets/images/alita.jpg" width="105" class="image img-rounded img-responsive"></a>
            <a href="#" class="name">Alita</a>
            <span class="reviews">17 Reviews</span>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="container footer">
      <hr class="footer-divider">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Tourbly. <a href="#">About</a> &middot; <a href="#">Contact</a> &middot; <a href="#">Privacy</a> &middot; <a href="#">Security</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src = "/assets/js/map_scripts.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/picker.js"></script>
    <script src="/assets/js/picker.date.js"></script>
    <script src="/assets/js/picker.time.js"></script>
    <script src="/assets/js/legacy.js"></script>
    <script>
      $(function () {
        $('#arrival').pickadate();
        $('#departure').pickadate();
      })
    </script>
  </body>
</html>
