{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block cannonical %}<link rel="canonical" href="http://gcdc2013-tourbly.appspot.com/">{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/assets/css/signin.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
  <div id="signup-form" class="carousel slide hidden-xs">
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/images/rogue.jpg" alt="First slide" class="img-responsive carousel-image" width="1365">
        <div class="container">
          <div class="carousel-caption cities-slide-caption">
            <div class="row signup-form-holder">
              <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs side-text">
                <h1 class="heading">Discover beautiful scenery, culture &amp; lifestyles.</h1>
                <p class="lead">We connect you with friendly &amp; reliable tour guides to over 100 tourist destinations accross west Africa. We guarantee you a safe and exciting experience.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 form">
                <form class="form-signin" method = "post" action = "/signin">
                  <p class="lead error-label">{{error}}</p>
                  <h2 class="form-heading visible-xs hidden-lg hidden-sm hidden-md">Find great tour guides.</h2>
                  <input type="text" class="form-control" placeholder="Your Email" autofocus name = "email" value
                  = "{{email}}">
                  <input type="password" class="form-control" placeholder="Enter your password" name = "password">
                  <input name = "referer" type = "hidden" value = "{{referer}}">
                  <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>

                  <div class="hr-with-words">
                    <span class="bigor">or</span>
                  </div>

                  <div id="gSignInWrapper">
                    <div id="customBtn" class="customGPlusSignIn">
                      <span class="icon"></span>
                      <span class="buttonText">Sign in with Google</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->


  <div id="mobile" class="container visible-xs hidden-sm hidden-md hidden-lg">
    <div class="row">
      <div class="col-xs-12 mobile-signup-form">
        <form method = "post" action = "/signin" class="form-signin">
          <h2 class="form-heading visible-xs hidden-lg hidden-sm hidden-md">Find great tour guides.</h2>
          <p class="lead error-label mobile-error-label">{{error}}</p>
          <input type="text" class="form-control" placeholder="Your Email" name = "email" value = "{{email}}" autofocus>
          <input type="password" class="form-control" placeholder="Enter your password" name = "password">
          <input type = "hidden" name = "referer" value = "{{referer}}" >
          <button id="submit-btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>

          <div class="hr-with-words">
            <span class="smallor">or</span>
          </div>

          <div id="gSignInWrapper">
            <div id="customBtn_M" class="customGPlusSignIn">
              <span class="icon"></span>
              <span class="buttonText">Google</span>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>


   <!-- Include Block For Reasons To Love Tourbly -->
   {% include 'partials/loveTourbly.html' %}
{% endblock %}
{% block pagespecificjs %}
  <script src="/assets/js/jquery.cookie.js"></script>
  <script>
    (function() {
      var po = document.createElement('script');
      po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/client:plusone.js?onload=renderSignin';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
  </script>
{% endblock %}
